
<div id="container">
    <section style="font-size:40px;"><b>Designed By <br>Indian Engineers</b>
        <a class="nav-item nav-link" (click)="logout()" style="font-size: 15px; float:right;">Logout</a>
    </section>
<section style="padding-top: 0;">
    <span style="font-size: 18px;"><img style="width:35%; float:right;" src="assets/banner_illustration.png">
    Aliquid alias non error culpa dicta veritatis suscipit odio <br>neque autem sequi nostrum iure, debitis voluptas vero <br> delectus dignissimos perferendis sit magnam asperiores,<br> repudiandae sint tempora tempore commodi omnis. Exercitationem.<br><br>
</span>
<span>
    <button style="background-color:#e26529; height: 24px;
    width: 146px;
    border: 2px solid #e26529;
    border-radius: 25px; color:white;"></button>
</span>
</section>
</div>
